<!-- <div class="navbar-container">
  <div class="contact">contact</div>
  <div class="time">
    <div class="hour"><%= Time.now %></div>
    <div class="date">22.01.21</div>
  </div>
  <div class="wind">vent</div>
  <div class="weather">
    <div class="temperature">12°</div>
    <div class="conditions">vent pluie nuages</div>
  </div>
</div>
 -->


